<!DOCTYPE html>
<html>
  <head>
    <title>Lab Express Basic Authentication</title>
    <link rel='stylesheet' href='/styles/style.css' />
  </head>
  <body>
    <nav>
    {{#if user}}
      <span>{{user.name}}</span>
      <a href="/authentication/private">Private</a>
      <a href="/authentication/main">Main</a>
      <form action="/authentication/sign-out" method="POST">
        <button>Sign Out</button>
      </form>
    {{else}}
      <a href="/authentication/sign-up">Sign Up</a>
      <a href="/authentication/sign-in">Sign In</a>
    {{/if}}
  </nav>
    {{{body}}}
  </body>
</html>
